<div ng-controller="createUserCtrl">
    <h2>Opprett bruker</h2>
    <form novalidate="novalidate">
        <div class="well">
            <h3>Info fra Google</h3>
            <div class="form-group">
                {{data.user.email}}
            </div>

            <h3>Navn</h3>
            <div class="form-group">
                <label>Navn</label>
                <input name="navn" class="form-control">
            </div>

            <div class="text-center">
                <button class="btn btn-primary">Lagre</button>
            </div>
        </div>
    </form>
</div>

