<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top " role="navigation" ng-controller="menuCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-click="selectMenu()">Kom & Gikk</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-repeat="item in menu" ng-class="getMenuClass(item)"><a href="{{item.url}}" ng-click="selectMenu(item)">{{item.name}}</a></li>
            </ul>
            <div class="navbar-right">
                <p class="navbar-text">Logget inn som <a href="#" class="navbar-link">{{data.user.name || 'missing'}}</a></p>
                <a class="btn btn-default navbar-btn" ng-click="doLogout()">Logg ut</a>


            </div>

        </div><!--/.nav-collapse -->
    </div>
</div>