<style>
    input.ng-invalid { background-color: lightpink; }
    input.ng-valid { background-color: lightgreen; }
    span.error { color: red; font-weight: bold; }
</style>

<h2>Ny aktivitet</h2>

<div class="jumbotron">
<form name="newActivityForm" novalidate>

    <div class="form-group">
        <label>Navn</label>
        <input name="name" class="form-control" ng-model="data.newactivity.name" required />
        <span class="error" ng-show="newActivityForm.name.$error.required">Legg inn navn</span>
    </div>
    <div class="form-group">
        <label>Type</label>
        <input name="type" class="form-control" ng-model="data.newactivity.type" required />
        <span class="error" ng-show="newActivityForm.type.$error.required">Legg inn type aktivitet</span>
    </div>
    <div class="form-group">
        <label>Navn</label>
        <input name="sap" class="form-control" ng-model="data.newactivity.sap" required />
        <span class="error" ng-show="newActivityForm.sap.$error.required">Legg inn SAP konto</span>
    </div>

    <div class="text-center">
        <button ng-disabled="newActivityForm.$invalid"
                class="btn btn-primary">Lagre</button>
    </div>



</form>

</div>