<div class="container-fluid" ng-controller="sumCtrl">

    <!-- Headline -->
    <div class="row">
        <div class="col-md-6">
            <h3>Ukeliste</h3>
        </div>
        <div class="col-md-6 text-right">
            <h4>
                <a href="" ng-click="showPreviousWeek()"><span class="glyphicon glyphicon-chevron-left"></span></a>
                Uke {{summary.week}} <small>(+30 min)</small>
                <a href="" ng-click="showNextWeek()" ng-show="showNextWeekButton()"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </h4>
        </div>
    </div>

    <!-- one row for each day-->
    <div class="row" ng-repeat="day in summary.days">
        <div class="col-md-9">
            <h4 style="color: #5bc0de">{{day.day}} <small>({{day.hours}})</small></h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>SAP-konto</th>
                        <th>Timeføring</th>
                        <th>Aktvitet</th>
                    </tr>
                </thead>
                <tr ng-repeat="activity in day.activities">
                    <td>{{activity.sap}}</td>
                    <td>{{activity.normalizedFrom}} - {{activity.normalizedTo}}</td>
                    <td>{{activity.activityName}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>